# Imports

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Set data paths
PROJECT_ROOT = Path().resolve().parent
DATA_RAW = PROJECT_ROOT / "data" / "raw"

In [3]:
# Import datasets
census_path = DATA_RAW / "co-est2024-alldata.csv"
df = pd.read_csv(census_path, encoding="latin1") # Added encoding to fix unicode error

# Review dataframe

In [4]:
df.shape

(3195, 83)

In [5]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'ESTIMATESBASE2020', 'POPESTIMATE2020', 'POPESTIMATE2021',
       'POPESTIMATE2022', 'POPESTIMATE2023', 'POPESTIMATE2024', 'NPOPCHG2020',
       'NPOPCHG2021', 'NPOPCHG2022', 'NPOPCHG2023', 'NPOPCHG2024',
       'BIRTHS2020', 'BIRTHS2021', 'BIRTHS2022', 'BIRTHS2023', 'BIRTHS2024',
       'DEATHS2020', 'DEATHS2021', 'DEATHS2022', 'DEATHS2023', 'DEATHS2024',
       'NATURALCHG2020', 'NATURALCHG2021', 'NATURALCHG2022', 'NATURALCHG2023',
       'NATURALCHG2024', 'INTERNATIONALMIG2020', 'INTERNATIONALMIG2021',
       'INTERNATIONALMIG2022', 'INTERNATIONALMIG2023', 'INTERNATIONALMIG2024',
       'DOMESTICMIG2020', 'DOMESTICMIG2021', 'DOMESTICMIG2022',
       'DOMESTICMIG2023', 'DOMESTICMIG2024', 'NETMIG2020', 'NETMIG2021',
       'NETMIG2022', 'NETMIG2023', 'NETMIG2024', 'RESIDUAL2020',
       'RESIDUAL2021', 'RESIDUAL2022', 'RESIDUAL2023', 'RESIDUAL2024',
       'GQESTIMATESBASE2020', 'GQESTIMATES2020', 'GQESTIMATES2021',
       'GQESTIMATES2022', 'GQESTIMATES2023', 'GQESTIMATES2024', 'RBIRTH2021',
       'RBIRTH2022', 'RBIRTH2023', 'RBIRTH2024', 'RDEATH2021', 'RDEATH2022',
       'RDEATH2023', 'RDEATH2024', 'RNATURALCHG2021', 'RNATURALCHG2022',
       'RNATURALCHG2023', 'RNATURALCHG2024', 'RINTERNATIONALMIG2021',
       'RINTERNATIONALMIG2022', 'RINTERNATIONALMIG2023',
       'RINTERNATIONALMIG2024', 'RDOMESTICMIG2021', 'RDOMESTICMIG2022',
       'RDOMESTICMIG2023', 'RDOMESTICMIG2024', 'RNETMIG2021', 'RNETMIG2022',
       'RNETMIG2023', 'RNETMIG2024'],
      dtype='object')

In [6]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RINTERNATIONALMIG2023,RINTERNATIONALMIG2024,RDOMESTICMIG2021,RDOMESTICMIG2022,RDOMESTICMIG2023,RDOMESTICMIG2024,RNETMIG2021,RNETMIG2022,RNETMIG2023,RNETMIG2024
0,40,3,6,1,0,Alabama,Alabama,5025369,5033094,5049196,...,2.549575,3.068113,4.993905,5.575299,5.875305,5.066094,5.351760,7.186103,8.424880,8.134207
1,50,3,6,1,1,Alabama,Autauga County,58800,58909,59191,...,1.880638,2.231337,3.827265,8.543056,8.154978,11.927810,4.081287,9.451176,10.035616,14.159147
2,50,3,6,1,3,Alabama,Baldwin County,231767,233244,239411,...,3.551142,4.168969,29.480276,28.650913,26.471787,25.479189,29.911881,30.506926,30.022929,29.648158
3,50,3,6,1,5,Alabama,Barbour County,25226,24975,24517,...,0.850788,1.306069,-13.497131,10.073316,-1.620549,-9.632260,-13.497131,10.966916,-0.769761,-8.326191
4,50,3,6,1,7,Alabama,Bibb County,22284,22176,22344,...,0.045586,0.090604,11.141060,-13.535768,-3.464545,16.897708,11.185984,-13.445530,-3.418959,16.988312

# Filter to county level and Florida

In [7]:
df["SUMLEV"].value_counts().head()

SUMLEV
50    3144
40      51
Name: count, dtype: int64

In [8]:
# SUMLEV = 40 is state aggregate. We want SUMLEV = 50

In [9]:
# County-level data from FL only
df_fl = df[(df["SUMLEV"] == 50) & (df["STNAME"] == "Florida")].copy()

In [10]:
df_fl.shape

(67, 83)

In [11]:
df_fl[["STATE", "COUNTY", "STNAME", "CTYNAME"]]

     STATE  COUNTY   STNAME            CTYNAME
332     12       1  Florida     Alachua County
333     12       3  Florida       Baker County
334     12       5  Florida         Bay County
335     12       7  Florida    Bradford County
336     12       9  Florida     Brevard County
..     ...     ...      ...                ...
394     12     125  Florida       Union County
395     12     127  Florida     Volusia County
396     12     129  Florida     Wakulla County
397     12     131  Florida      Walton County
398     12     133  Florida  Washington County

[67 rows x 4 columns]

In [12]:
df_fl.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'ESTIMATESBASE2020', 'POPESTIMATE2020', 'POPESTIMATE2021',
       'POPESTIMATE2022', 'POPESTIMATE2023', 'POPESTIMATE2024', 'NPOPCHG2020',
       'NPOPCHG2021', 'NPOPCHG2022', 'NPOPCHG2023', 'NPOPCHG2024',
       'BIRTHS2020', 'BIRTHS2021', 'BIRTHS2022', 'BIRTHS2023', 'BIRTHS2024',
       'DEATHS2020', 'DEATHS2021', 'DEATHS2022', 'DEATHS2023', 'DEATHS2024',
       'NATURALCHG2020', 'NATURALCHG2021', 'NATURALCHG2022', 'NATURALCHG2023',
       'NATURALCHG2024', 'INTERNATIONALMIG2020', 'INTERNATIONALMIG2021',
       'INTERNATIONALMIG2022', 'INTERNATIONALMIG2023', 'INTERNATIONALMIG2024',
       'DOMESTICMIG2020', 'DOMESTICMIG2021', 'DOMESTICMIG2022',
       'DOMESTICMIG2023', 'DOMESTICMIG2024', 'NETMIG2020', 'NETMIG2021',
       'NETMIG2022', 'NETMIG2023', 'NETMIG2024', 'RESIDUAL2020',
       'RESIDUAL2021', 'RESIDUAL2022', 'RESIDUAL2023', 'RESIDUAL2024',
       'GQESTIMATESBASE2020', 'GQESTIMATES2020', 'GQESTIMATES2021',
       'GQESTIMATES2022', 'GQESTIMATES2023', 'GQESTIMATES2024', 'RBIRTH2021',
       'RBIRTH2022', 'RBIRTH2023', 'RBIRTH2024', 'RDEATH2021', 'RDEATH2022',
       'RDEATH2023', 'RDEATH2024', 'RNATURALCHG2021', 'RNATURALCHG2022',
       'RNATURALCHG2023', 'RNATURALCHG2024', 'RINTERNATIONALMIG2021',
       'RINTERNATIONALMIG2022', 'RINTERNATIONALMIG2023',
       'RINTERNATIONALMIG2024', 'RDOMESTICMIG2021', 'RDOMESTICMIG2022',
       'RDOMESTICMIG2023', 'RDOMESTICMIG2024', 'RNETMIG2021', 'RNETMIG2022',
       'RNETMIG2023', 'RNETMIG2024'],
      dtype='object')

# Build clean 5 digit county FIPS (county level identifier) for future join key

In [13]:
df_fl["state_fips"] = df_fl["STATE"].astype(int).astype(str).str.zfill(2)

In [14]:
df_fl["county_fips"] = df_fl["COUNTY"].astype(int).astype(str).str.zfill(3)

In [15]:
df_fl["fips"] = df_fl["state_fips"] + df_fl["county_fips"]

In [16]:
df_fl[["CTYNAME", "fips"]].head()

             CTYNAME   fips
332   Alachua County  12001
333     Baker County  12003
334       Bay County  12005
335  Bradford County  12007
336   Brevard County  12009

# Define columns for reshaping

In [36]:
df_fl.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDOMESTICMIG2022,RDOMESTICMIG2023,RDOMESTICMIG2024,RNETMIG2021,RNETMIG2022,RNETMIG2023,RNETMIG2024,state_fips,county_fips,fips
332,50,3,5,12,1,Florida,Alachua County,278474,279765,281710,...,4.473050,1.421100,-3.929442,5.595975,12.583098,11.765874,8.372019,12,001,12001
333,50,3,5,12,3,Florida,Baker County,28264,28122,28378,...,-23.397853,23.897875,24.504467,7.787611,-22.400684,25.105197,25.921510,12,003,12003
334,50,3,5,12,5,Florida,Bay County,175210,174543,179548,...,28.805300,25.148484,25.878513,31.630287,34.411958,34.832370,37.058194,12,005,12005
335,50,3,5,12,7,Florida,Bradford County,28305,28229,28057,...,-26.277742,20.376659,12.351646,-3.269019,-26.530760,20.485626,12.459052,12,007,12007
336,50,3,5,12,9,Florida,Brevard County,606607,608792,618000,...,24.540064,22.708130,16.984995,22.170017,27.962584,27.491258,22.685480,12,009,12009

In [17]:
# Domestic migration columns
dom_cols = ["DOMESTICMIG2020","DOMESTICMIG2021","DOMESTICMIG2022","DOMESTICMIG2023","DOMESTICMIG2024"]

In [18]:
# Rate of domestic migration columns (2020 doesnt exist)
rdom_cols = ["RDOMESTICMIG2021","RDOMESTICMIG2022","RDOMESTICMIG2023","RDOMESTICMIG2024"]

In [19]:
# Population estimate columns
pop_cols = ["POPESTIMATE2020","POPESTIMATE2021","POPESTIMATE2022","POPESTIMATE2023","POPESTIMATE2024"]

In [20]:
id_cols = ["fips","STNAME","CTYNAME"]

## Reshape DOMESTICMIG columns from wide to long

In [21]:
dom_long = df_fl[id_cols + dom_cols].melt(
    id_vars=id_cols,
    value_vars=dom_cols,
    var_name="year",
    value_name="domestic_mig"
)

In [22]:
dom_long.head()

    fips   STNAME          CTYNAME             year  domestic_mig
0  12001  Florida   Alachua County  DOMESTICMIG2020          1315
1  12003  Florida     Baker County  DOMESTICMIG2020          -141
2  12005  Florida       Bay County  DOMESTICMIG2020          -603
3  12007  Florida  Bradford County  DOMESTICMIG2020           -60
4  12009  Florida   Brevard County  DOMESTICMIG2020          3197

In [23]:
# Remove text before year value
dom_long["year"] = dom_long["year"].str.replace("DOMESTICMIG", "").astype(int)

## Reshape population columns from wide to long

In [24]:
pop_long = df_fl[id_cols + pop_cols].melt(
    id_vars=id_cols,
    value_vars=pop_cols,
    var_name="year",
    value_name="population"
)

In [25]:
pop_long["year"] = pop_long["year"].str.replace("POPESTIMATE", "").astype(int)

## Reshape RDOMETICMIG columns from wide to long

In [26]:
rdom_long = df_fl[id_cols + rdom_cols].melt(
    id_vars=id_cols,
    value_vars=rdom_cols,
    var_name="year",
    value_name="rdomestic_mig"
)

In [27]:
rdom_long["year"] = rdom_long["year"].str.replace("RDOMESTICMIG", "").astype(int)

# Merge into single county-year table

In [28]:
# Inner join
census_long = dom_long.merge(pop_long, on=id_cols + ["year"], how="inner")

In [29]:
# Left join (since 2020 doesnt exist for this data)
census_long = census_long.merge(rdom_long, on=id_cols + ["year"], how="left")

# Sanity checks

In [30]:
census_long.head()

,fips,STNAME,CTYNAME,year,domestic_mig,population,rdomestic_mig
0,12001,Florida,Alachua County,2020,1315,279765,NaN
1,12003,Florida,Baker County,2020,-141,28122,NaN
2,12005,Florida,Bay County,2020,-603,174543,NaN
3,12007,Florida,Bradford County,2020,-60,28229,NaN
4,12009,Florida,Brevard County,2020,3197,608792,NaN

In [31]:
print("Counties:", census_long["CTYNAME"].nunique())

Counties: 67

In [32]:
print("Years:", sorted(census_long["year"].unique()))

Years: [np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]

In [33]:
print("Duplicates:", census_long.duplicated(["fips","year"]).sum())

Duplicates: 0

In [34]:
print("Missing domestic_mig:", census_long["domestic_mig"].isna().sum())

Missing domestic_mig: 0

In [35]:
print("Missing population:", census_long["population"].isna().sum())

Missing population: 0

In [38]:
# Sort by fips and year
census_long = census_long.sort_values(["fips", "year"]).reset_index(drop=True)

In [39]:
census_long.head()

,fips,STNAME,CTYNAME,year,domestic_mig,population,rdomestic_mig
0,12001,Florida,Alachua County,2020,1315,279765,NaN
1,12001,Florida,Alachua County,2021,1142,281710,4.067857
2,12001,Florida,Alachua County,2022,1268,285241,4.473050
3,12001,Florida,Alachua County,2023,408,288962,1.421100
4,12001,Florida,Alachua County,2024,-1141,291782,-3.929442

# Exports

In [40]:
census_long.to_csv("../data/processed/census_fl_county_year.csv", index=False)